.react-datepicker {
    font-family: 'Arial', sans-serif;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  
  .react-datepicker__header {
    background-color: #3498db;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
  }
  
  .react-datepicker__current-month {
    font-weight: bold;
    font-size: 16px;
  }
  
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: #333;
    font-weight: normal;
    font-size: 14px;
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #3498db;
    color: white;
  }
  
  .react-datepicker__day:hover {
    background-color: #2980b9;
    color: white;
  }
  